{
margin:0;
pading:0;
box-sizing:border-box;
}

 :root {
--gradient: linear-gradient(

}
body {

  font-family: "Abel", sans-serif;

{ background-image: linear-gradient(
to top
green,
white,
);

color:black;

display: grid;
place-content: top;

}

h1 {
background-image: var
(--gradient) ; 
}











