{
margin:0;
pading:0;
box-sizing:border-box;
}

 :root {

}
body {

  font-family: "Abel", sans-serif;
   font-weight: 400;
  font-style: normal;
labe{ 
 color=brown;
}
{ background-image: linear-gradient(
to top
125, 219, 81,
252, 255, 253,
);

color:black;

display: grid;
place-content: top;

}

h1 {
  font-family: "Abel", sans-serif;
   font-weight: 400;
  font-style: normal;
}











