{
margin:0;
pading:0;
box-sizing:border-box;
}

 :root {

}
body {

  font-family: "Abel", sans-serif;
   font-weight: 400;
  font-style: normal;

{ background-image: linear-gradient(
to top
green,
white,
);

color:black;

display: grid;
place-content: top;

}

h1 {
  font-family: "Abel", sans-serif;
   font-weight: 400;
  font-style: normal;
}











