{
margin:0;
pading:0;
box-sizing:border-box;
}

 :root {

}
body {

  font-family: "Abel", sans-serif;
   font-weight: 400;
  font-style: normal;
labe{ 
 color:#2e160b;
}
{ background-image: linear-gradient(
to top)
rgb(125, 219, 81);
rgb(252, 255, 253);
);

color:#2e160b;

display: grid;
place-content: top;

}

h1 {
  font-family: "Abel", sans-serif;
   font-weight: 400;
  font-style: normal;
}











